n8n-workflows/ai-site-generator.json
{
    "name": "FrameCraftAI - Site Generator",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "generate-site",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\n\nif (!input.user_id || !input.business_name || !input.business_sector) {\n  throw new Error('Missing required fields');\n}\n\nreturn { json: { valid: true, ...input } };"
            },
            "id": "validate-input",
            "name": "Validate Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
                "authentication": "genericCredentialType",
                "genericAuthType": "queryAuth",
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "key",
                            "value": "={{ $env.GEMINI_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are an expert business analyst.\\n\\nBUSINESS:\\n- Name: {{ $json.business_name }}\\n- Sector: {{ $json.business_sector }}\\n- Description: {{ $json.description || 'N/A' }}\\n\\nANALYZE and RECOMMEND:\\n1. Primary goal\\n2. Target audience\\n3. Content tone\\n4. Required pages\\n5. Key sections per page\\n6. Design direction\\n\\nRETURN ONLY JSON:\\n{\\n  \\\"sectorAnalysis\\\": {\\n    \\\"primaryGoal\\\": \\\"...\\\",\\n    \\\"targetAudience\\\": \\\"...\\\",\\n    \\\"contentTone\\\": \\\"...\\\"\\n  },\\n  \\\"recommendedPages\\\": [\\n    {\\n      \\\"name\\\": \\\"Home\\\",\\n      \\\"path\\\": \\\"/\\\",\\n      \\\"sections\\\": [\\n        {\\n          \\\"type\\\": \\\"hero\\\",\\n          \\\"requirements\\\": \\\"...\\\"\\n        }\\n      ]\\n    }\\n  ],\\n  \\\"designGuidelines\\\": {\\n    \\\"colorScheme\\\": \\\"...\\\",\\n    \\\"typography\\\": \\\"...\\\"\\n  }\\n}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 4096\n  }\n}",
                "options": {}
            },
            "id": "gemini-sector-analysis",
            "name": "Gemini: Sector Analysis",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const geminiResponse = $input.first().json;\nconst text = geminiResponse.candidates[0].content.parts[0].text;\n\nlet jsonText = text;\nif (text.includes('```json')) {\n  jsonText = text.split('```json')[1].split('```')[0];\n}\n\nconst strategy = JSON.parse(jsonText.trim());\n\nreturn {\n  json: {\n    ...$node['Validate Input'].json,\n    strategy\n  }\n};\n"
            },
            "id": "parse-strategy",
            "name": "Parse AI Strategy",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SUPABASE_URL }}/rest/v1/websites",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "jsonBody": "={\n  \"user_id\": \"{{ $node['Validate Input'].json.user_id }}\",\n  \"site_name\": \"{{ $node['Validate Input'].json.business_name }}\",\n  \"business_sector\": \"{{ $node['Validate Input'].json.business_sector }}\",\n  \"subdomain\": \"{{ $node['Validate Input'].json.business_name.toLowerCase().replace(/\\\\s+/g, '-') }}-{{ Math.random().toString(36).substr(2, 5) }}\",\n  \"sitemap\": {{ JSON.stringify({ pages: $node['Parse AI Strategy'].json.strategy.recommendedPages }) }},\n  \"global_styles\": {{ JSON.stringify($node['Parse AI Strategy'].json.strategy.designGuidelines) }},\n  \"status\": \"draft\"\n}",
                "options": {}
            },
            "id": "create-website",
            "name": "Create Website",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"website_id\": \"{{ $json[0].id }}\",\n  \"subdomain\": \"{{ $json[0].subdomain }}\",\n  \"preview_url\": \"https://{{ $json[0].subdomain }}.framecraftai.com\"\n}",
                "options": {}
            },
            "id": "respond-success",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Validate Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Input": {
            "main": [
                [
                    {
                        "node": "Gemini: Sector Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Sector Analysis": {
            "main": [
                [
                    {
                        "node": "Parse AI Strategy",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI Strategy": {
            "main": [
                [
                    {
                        "node": "Create Website",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Website": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}